*{ 
  margin:0; 
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: 'KaiGenGothicSC-Light';
}

html {
  font-size: 62.5%; 
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; 
}

.wrap {
  width: 100%;
  height: 100%;
  max-width: 768px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; 
}

.wrap ul {
  width: 100%;
  height: 100%;
}
.wrap ul li {
  width: 100%;
  height: 100%;
  /*letter-spacing:0.2px;*/
}
.wrap ul li img {
  width: 100%;
  height: 100%;
}

li div{
  display: none;
}

li.on div{
  display: block;
}

.wrap ul li:nth-child(1){
  background: #030527;
}
.wrap ul li:nth-child(2){
  background: url(../img/bg2.png) no-repeat;
  background-size: 100% 100%;
}
.wrap ul li:nth-child(3){
  background: url(../img/bg3.png) no-repeat;
  background-size: 100% 100%;
}
.wrap ul li:nth-child(4){
  background: url(../img/bg4.png) no-repeat;
  background-size: 100% 100%;
}
.wrap ul li:nth-child(5){
  background: url(../img/bg5.png) no-repeat;
  background-size: 100% 100%;
}
.wrap ul li:nth-child(6){
  background: url(../img/bg6.png) no-repeat;
  background-size: 100% 100%;
}
.wrap ul li:nth-child(7){
  background: url(../img/bg7.png) no-repeat;
  background-size: 100% 100%;
}
.wrap ul li:nth-child(8){
  background: url(../img/bg5.png) no-repeat;
  background-size: 100% 100%;
}



.titleTop{
  padding: 20px 26px 0 26px;
  color: #8ec53e;
}
.titleTop h4{
  font-size: 1.6rem;
  font-weight: normal;
}
.titleTop .title{
  margin-top: 10px;
  font-size: 1rem;
}
.titleBot{
  padding: 10px 26px 0 26px;
  animation-delay:0.5s;
}
.titleBot p{
  line-height: 1.5rem;
  color: #fff
}
.titleBot .title{
  margin-bottom: 5px;
  color: #8ec53e;
}
.titleBot .title{
  margin-top: 5px;
}

.arrow{
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 10px; 
  animation:fade 1s infinite;
  -webkit-animation:fade 1s infinite;
  -moz-animation:fade 1s infinite;
}
.arrow img{
  width: 100%;
}

@keyframes fade{
  from{ 
    bottom:10px; 
  }
  to{ 
    bottom:30px; 
  }
}


.ZMcontactInformationBox{
  color: #fff;
  padding: 20px 26px 0 26px;
}
.ZMcontactInformationBox .ZMcontactInformation{
  font-size: 2.2rem;
  color: #8ec53e;
  margin-top: 100px;
}
.ZMcontactInformationBox p{
  line-height: normal;
  font-size: 1.6rem;
}
.ZMcontactInformationBox p.title{
  color: #8ec53e;
  margin-top: 40px;
  line-height: 2rem;
  font-size: 1.4rem;
}